
.title{
    font-size: 52px;
}

.paragraph{
    font-size: 24px;
}
@media(max-width){
    .title{
        font-size: 36px;
    }
}
@media (max-width: 480px) {
    .title{
        font-size: 32px;
    }
    .paragraph{
        font-size: 20px;
    }

}
button{
    transition: 300ms;
}

button:hover{
    transition: 300ms;
    opacity:30%;
}

p{
    transform: translateY(16px);
    animation: pointdown 1000ms infinite alternate-reverse;
}

@keyframes pointdown{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(16px);
    }
}